<div class="calendar-container">
  <div class="year-selector">
    <button (click)="prevYear()">&#8249;</button>
    <span>{{ selectedYear }}</span>
    <button (click)="nextYear()">&#8250;</button>
  </div>
  <div class="months-grid">
    <div
      *ngFor="let month of months"
      (click)="selectMonth(month)"
      [class.selected]="month === selectedMonth"
    >
      {{ month }}
    </div>
  </div>
  <div class="days-grid">
    <div
      *ngFor="let day of days"
      (click)="selectDay(day)"
      [class.selected]="day === selectedDay"
    >
      {{ day }}
    </div>
  </div>
</div>
