<div class="table-container">
  <header class="sideLabel">
    <label>Rules Engine</label>
    <span *ngIf="name" class="name-label"> > Leave Type - {{ name }}</span>
    <button *ngIf="showAddNewButton" (click)="addNew()" class="create-new-button">
      + Create New
    </button>
  </header>
  <section class="search-container">
    <input
      type="text"
      placeholder="Search"
      class="search-input"
      aria-label="Search"
      [(ngModel)]="searchWord"
      (ngModelChange)="search()"
    />
    <button class="search-button" (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </section>
  <table mat-table [dataSource]="tableData" class="mat-elevation-z8">
    <ng-container *ngFor="let header of headers" [matColumnDef]="header">
      <th mat-header-cell *matHeaderCellDef>{{ header }}</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="header === 'country' && isImageUrl(element[header]); else textTemplate">
          <img [src]="element[header]" alt="Country Flag" width="22" height="22" />
        </ng-container>
        <ng-template #textTemplate>{{ element[header] }}</ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editRow(row.id)">Edit</button>
          <button mat-menu-item (click)="auditTrail()">Audit trail</button>
        </mat-menu>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div class="pagination-container">
    <mat-paginator
      class="custom-paginator"
      #paginator
      [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</div>

