<div class="table-container">
  <header class="sideLabel">
    <!-- added header section-->
    <label>Rules Engine</label>
    <span *ngIf="name" class="name-label"> > Leave Type - {{ name }}</span>
    <button *ngIf="showAddNewButton" (click)="addNew()" class="create-new-button">
      + Create New
    </button>
  </header>
  <section class="search-container">
    <!-- added section and area label -->
    <input
      type="text"
      placeholder="Search"
      class="search-input"
      aria-label="Search"
      [(ngModel)]="searchWord"
    />
    <button class="search-button" (click)="search()">
      <!-- added search func and test -->
      <mat-icon >search</mat-icon>
      <!-- updated to mat icon -->
    </button>
  </section>
  <table>
    <thead>
      <tr>
        <th *ngFor="let header of headers">{{ header }}</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let row of tableData
            | slice
              : (currentPage - 1) * itemsPerPage
              : currentPage * itemsPerPage
        "
      >
        <td *ngFor="let key of rowKeys">
          <ng-container
            *ngIf="key === 'country' && isImageUrl(row[key]); else textTemplate"
          >
            <img [src]="row[key]" alt="Country Flag" width="22" height="22" />
          </ng-container>
          <ng-template #textTemplate>{{ row[key] }}</ng-template>
        </td>
        <td>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editRow(row.id)">Edit</button>
            <!-- edited from row.name to row.id  -->
            <button mat-menu-item (click)="auditTrail()">Audit trail</button>
          </mat-menu>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <div class="left-side">
      <span>Items per page: </span>
      <select [(ngModel)]="itemsPerPage" class="item-per-page-option">
        <option *ngFor="let option of [6, 10, 20]" [value]="option">
          {{ option }}
        </option>
      </select>
      <span>{{ paginationText }}</span>
    </div>

    <div class="right-side page-number">
      <button (click)="firstPage()"><<</button>
      <button (click)="previousPage()"><</button>
      <ng-container
        *ngFor="let page of [].constructor(totalPages); let i = index"
      >
        <button [class.active]="i + 1 === currentPage" (click)="setPage(i + 1)">
          {{ i + 1 }}
        </button>
      </ng-container>
      <button (click)="nextPage()">></button>
      <button (click)="lastPage()">>></button>
    </div>
  </div>
</div>
