.main {
    margin-top: 10rem;
}

.create-new-button {
    position: absolute;
    left: 84%;
    top: 15%;
    font-family: Nunito Sans;
    color: aliceblue;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    padding: 12px 49px 12px 49px;
    gap: 12px;
    border-radius: 20px;
    background: #8D8D8D;




}